---
import BaseLayout from "~/layouts/BaseLayout.astro";
import ImageComp from "~/components/ImageComp.astro";
import Person from "~/components/Person.astro";
import { Image } from "astro:assets";
import { FaRegMap } from "react-icons/fa6";
import { FaPhone } from "react-icons/fa6";
import { MdOutlineEmail } from "react-icons/md";
import {
  ADDRESS_LINE_1,
  ADDRESS_LINE_2,
  PHONE_NUMBER,
  EMAIL_ADDRESS,
} from "../consts";

const CONTACT_FORM_WEBHOOK_URL = import.meta.env.CONTACT_FORM_WEBHOOK_URL;
const data = {
  siteTitle: "Why Become a Pilot at Ideal Aviation? | Ideal Aviation",
  siteDescription:
    "Ideal Aviation is the place for pilots in St. Louis, Missouri. We maintain the highest standards of safety in all of our operations. Our certified flight instructors have decades of combined experience, ensuring that you have the knowledge and skills you need to fly safely and confidently.",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <section class="mt-52 mx-auto max-w-2xl lg:max-w-7xl px-5">
    <div
      class="absolute top-0 w-full h-[20vh] bg-gradient-to-bl from-0% via-30% from-main-blue via-transparent"
    >
    </div>

    <div class="flex flex-col lg:flex-row gap-10 lg:gap-0 mt-10">
      <div class="lg:flex-1 flex flex-col gap-3">
        <h2
          class="font-mono text-xs/5 font-semibold uppercase tracking-widest text-gray-500 data-[dark]:text-gray-400"
        >
          Contact us
        </h2>
        <h3
          class="text-pretty text-4xl font-medium tracking-tighter text-gray-950 data-[dark]:text-white sm:text-6xl"
        >
          Let’s work together
        </h3>
        <p class="max-w-3xl text-2xl font-medium text-gray-500">
          We can’t wait to hear from you.
        </p>
        <ul class="flex flex-col gap-5 mt-10">
          <li>
            <a
              href="https://maps.app.goo.gl/xnquhkZFTguttGxo8"
              target="_blank"
              class="group flex gap-5"
            >
              <div
                class="p-3 bg-main-blue w-fit h-fit rounded-full group-hover:bg-main-blue/80 duration-300"
              >
                <FaRegMap className="text-white size-6" />
              </div>
              <div>
                <p
                  class="text-main-black/80 text-lg font-medium group-hover:text-main-blue duration-300"
                >
                  Address
                </p>
                <p
                  class="text-main-black/70 group-hover:text-main-blue/80 duration-300"
                >
                  {ADDRESS_LINE_1}
                  <br />
                  {ADDRESS_LINE_2}
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href=`tel:${PHONE_NUMBER}` class="group flex gap-5">
              <div
                class="p-3 bg-main-blue w-fit h-fit rounded-full group-hover:bg-main-blue/80 duration-300"
              >
                <FaPhone className="text-white size-6" />
              </div>
              <div>
                <p
                  class="text-main-black/80 text-lg font-medium group-hover:text-main-blue duration-300"
                >
                  Phone
                </p>
                <p
                  class="text-main-black/70 group-hover:text-main-blue/80 duration-300"
                >
                  {PHONE_NUMBER}
                </p>
              </div>
            </a>
          </li>
          <li class="flex gap-5">
            <a href=`mailto:${EMAIL_ADDRESS}` class="group flex gap-5">
              <div
                class="p-3 bg-main-blue w-fit h-fit rounded-full group-hover:bg-main-blue/80 duration-300"
              >
                <MdOutlineEmail className="text-white size-6" />
              </div>
              <div>
                <p
                  class="text-main-black/80 text-lg font-medium group-hover:text-main-blue duration-300"
                >
                  Email
                </p>
                <p
                  class="text-main-black/70 group-hover:text-main-blue/80 duration-300"
                >
                  {EMAIL_ADDRESS}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:flex-1">
        <form
          id="form"
          class="flex flex-col max-w-4xl mx-auto lg:my-0 bg-white shadow-sm"
        >
          <div class="flex flex-col">
            <input
              type="text"
              name="first-name"
              placeholder="First name"
              class="px-5 py-6 outline-1 w-full border-gray-400 border outline-gray-500 border-b-0 rounded-t-2xl"
              required
            />
            <input
              type="text"
              name="last-name"
              placeholder="Last name"
              class="px-5 py-6 outline-1 w-full border-gray-400 border outline-gray-500 border-b-0"
              required
            />
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Email"
              class="px-5 py-6 outline-1 w-full border-gray-400 border outline-gray-500 border-b-0"
              required
            />
            <input
              type="email"
              name="confirm-email"
              placeholder="Confirm email"
              class="hidden"
            />
            <input
              type="tel"
              name="phone"
              placeholder="Phone"
              class="px-5 py-6 outline-1 w-full border-gray-400 border outline-gray-500 border-b-0"
              required
            />
          </div>

          <textarea
            id="more-info"
            name="more-info"
            placeholder="Tell us more about your inquiry"
            required
            class="px-5 py-6 outline-1 border-gray-400 border outline-gray-500 min-h-40 rounded-b-2xl"
          ></textarea>

          <div class="flex gap-3">
            <input
              type="checkbox"
              name="agree-data-collection"
              id="agree-data-collection"
            />

            <label
              for="agree-data-collection"
              class="text-gray-500 text-sm lg:text-base my-5"
            >
              I agree to the terms & conditions provided by the company. By
              providing my phone number, I agree to receive text messages from
              Ideal Aviation.
            </label>
          </div>
          <button
            id="submit-button"
            disabled
            type="submit"
            class="btn-primary cursor-not-allowed bg-gray-400 hover:bg-gray-400"
            >Enviar</button
          >
        </form>
      </div>
    </div>
  </section>

  <section>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6237.857026593659!2d-90.162696!3d38.581494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b2176bb00437%3A0xc55163b52114baf9!2sIdeal%20Aviation!5e0!3m2!1sen!2sus!4v1731301422666!5m2!1sen!2sus"
      class="w-full h-[30rem] pt-20"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</BaseLayout>

<script define:vars={{ CONTACT_FORM_WEBHOOK_URL }}>
  const checkbox = document.getElementById("agree-data-collection");
  const submitButton = document.getElementById("submit-button");

  checkbox.addEventListener("change", function () {
    if (checkbox.checked) {
      submitButton.disabled = false;
      submitButton.classList.remove(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
      );
    } else {
      submitButton.disabled = true;
      submitButton.classList.add(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
      );
    }
  });

  // Wait for the DOM content to be fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Get the contactUs form element
    const form = document.getElementById("form");

    // Check if the contactUs form element exists
    if (form !== null) {
      // Add submit event listener to the contactUs form
      form.addEventListener("submit", function (event) {
        // Prevent the default form submission
        event.preventDefault();

        // Serialize the form data
        const formData = new FormData(form);

        // Check the value of the honeypot field
        const confirmEmailValue = formData.get("confirm-email");
        if (confirmEmailValue === "" || confirmEmailValue === null) {
          // If the honeypot field is empty, it's a human
          // Set the form action to the URL for processing the form and redirecting to thank you
          form.action = CONTACT_FORM_WEBHOOK_URL;
        }

        // Convert FormData to URLSearchParams
        const urlSearchParams = new URLSearchParams();
        for (const pair of formData.entries()) {
          urlSearchParams.append(pair[0], pair[1]);
        }

        // Send an AJAX request to submit the form
        const xhr = new XMLHttpRequest();
        xhr.open("POST", form.action);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded",
        );
        xhr.onload = function () {
          // Check if the request was successful (status 200)
          if (xhr.status === 200) {
            // Redirect the user after a successful form submission
            window.location.href = "/confirmacion-de-contacto";
          } else {
            // Handle errors if any
            console.error("Form submission failed:", xhr.statusText);
          }
        };
        xhr.onerror = function () {
          // Handle network errors
          console.error("Network error occurred while submitting the form.");
        };
        xhr.send(urlSearchParams);
      });
    } else {
      console.error("Form element not found.");
    }
  });
</script>
