---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords?: string;
  // image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL("/twin_outside.png", Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={new URL("/twin_outside.png", Astro.url)}
/>

<!-- Google tag (gtag.js) -->
<!-- <script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-3SVR01EH4G"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-3SVR01EH4G");
</script> -->

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-PJHVGV48");
</script>
<!-- End Google Tag Manager -->

<!-- Schema -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Ideal Aviation",
    "description": "Ideal Aviation, St. Louis’s premier FAA-approved Part 141 helicopter flight school, provides top-tier pilot training with a focus on safety, professionalism, and excellence. Located in St. Louis, Missouri, Ideal Aviation is the go-to destination for aspiring pilots, offering comprehensive programs including Private Pilot Helicopter Certification, Instrument Ratings, Commercial Pilot Training, and Certified Flight Instructor (CFI) courses. Backed by decades of combined experience from certified flight instructors, we ensure every student gains the skills and confidence needed to excel in the aviation industry. Choose Ideal Aviation for unmatched training, expert guidance, and a commitment to safety.",
    "keywords": "aviation, flight school, helicopter flight school, pilot training, flight instruction, flight school near me, helicopter flight school near me, flight instruction near me, pilot training near me, flight school St. Louis, helicopter flight school St. Louis, pilot training St. Louis, flight instruction St. Louis, flight school Missouri, helicopter flight school Missouri, pilot training Missouri, flight instruction Missouri, flight school Illinois, helicopter flight school Illinois, pilot training Illinois, flight instruction Illinois",
    "image": "https://idealaviationstl.com/twin_outside.webp",
    "logo": "https://idealaviationstl.com/favicon.ico",
    "telephone": "(618) 360-7600",
    "email": "info@idealaviationstl.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "5600 Vector Dr",
      "addressLocality": "Sauger",
      "addressRegion": "Illinois",
      "addressCountry": "US",
      "postalCode": "62206"
    },
    "currenciesAccepted": "USD",
    "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover, Checks",
    "areaServed": {
      "@type": "Place",
      "geo": {
        "@type": "GeoCircle",
        "geoMidpoint": {
          "@type": "GeoCoordinates",
          "latitude": 38.582148580400556,
          "longitude": -90.16273911533945
        },
        "geoRadius": 9000
      },
      "name": "Sauget, Illinois, United States"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "28"
    },
    "url": "https://idealaviationstl.com",
    "priceRange": "$",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 38.582148580400556,
      "longitude": -90.16273911533945
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "08:00",
        "closes": "16:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Saturday"],
        "opens": "10:00",
        "closes": "14:00"
      }
    ],
    "hasMap": "https://maps.app.goo.gl/jFkusLRceVYHQjj77",
    "photo": [
      {
        "@type": "ImageObject",
        "url": "https://idealaviationstl.com/twin_outside.webp",
        "description": "Airplanes parked outside of Ideal Aviation hangar"
      }
    ],
    "makesOffer": {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "serviceType": "Flight Instruction"
      },
      "priceCurrency": "USD",
      "price": "Varies"
    },
    "identifier": [
      {
        "@type": "PropertyValue",
        "name": "IATA Code",
        "value": "CPS"
      },
      {
        "@type": "PropertyValue",
        "name": "ICAO Code",
        "value": "KCPS"
      },
      {
        "@type": "PropertyValue",
        "name": "Airport Code",
        "value": "CPS"
      }
    ]
  }
</script>
