---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";

const { imagePath, title, date, blogUrl, description } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[imagePath]) {
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif,webp}"`,
  );
}

const dateData = new Date(date);
---

<div
  class="flex gap-10 flex-col group border-gray-200 border rounded-2xl shadow-lg p-2 w-full"
>
  <div class="h-64 overflow-hidden shrink-0 relative">
    <Image
      src={images[imagePath]()}
      alt={title}
      class="w-full h-full object-cover duration-700 rounded-2xl"
      quality={80}
    />
  </div>

  <div class="flex flex-col bg-white px-6 gap-3 justify-between h-full">
    <div class="flex flex-col gap-3 h-full justify-between">
      <div class="flex flex-col gap-3">
        <p class="text-sm text-main-black">
          <FormattedDate date={dateData} />
        </p>
        <h3 class="text-xl font-medium text-main-blue line-clamp-3">
          {title}
        </h3>
        <p class="text-gray-600 line-clamp-4">{description}</p>
      </div>
      <a href={blogUrl} class="btn-secondary my-5">Read More</a>
    </div>
  </div>
</div>
