---
import { Image } from "astro:assets";
import { title } from "process";
import HeroImage from "~/assets/images/multi-engine-aircraft.webp";
const example = {
  upperHeading: "Ideal Aviation",
  title: `<span class="text-6xl lg:text-8xl">Pilot Training In <br /> St. Louis, Missouri</span>`,
  description:
    "Part 61 and Part 141 FAA approved helicopter and airplane training center",
  image: {
    src: HeroImage,
    alt: "Ideal Airplane in Hangar",
  },
};

const { content = example } = Astro.props;
---

<div
  class="relative isolate overflow-hidden h-[98vh] sm:h-[70vh] lg:h-[80vh] flex text-main-black
    items-center m-2 rounded-3xl"
>
  <Image
    src={content.image.src}
    alt="Ideal Airplane in Hangar"
    class="absolute top-0 w-full h-full object-cover object-bottom -z-50"
    quality={70}
    loading="eager"
    widths={[240, 540, 720, HeroImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${HeroImage.width}px`}
  />

  <div
    class="absolute inset-0 bg-gradient-to-tl from-main-gray to-main-blue via-white/90 -z-40"
  >
  </div>

  <div class="flex w-full max-w-7xl mx-auto px-5">
    <div class="flex flex-col gap-8 sm:translate-y-20">
      <h1 class="font-bold lg:max-w-6xl flex flex-col">
        <span
          class="uppercase text-gray-600 tracking-widest lg:text-base text-xs"
          >{content.upperHeading}
        </span>
        <span set:html={content.title} />
      </h1>
      <h2 class="text-xl max-w-xl lg:text-2xl lg:max-w-5xl font-medium">
        {content.description}
      </h2>
      <div class="flex gap-5 flex-col sm:flex-row">
        <a href="/contact" class="btn-secondary w-full sm:w-fit">Start Flying</a
        >
        <a href="/first-time-pilots" class="btn-tertiary w-full sm:w-fit"
          >Why Become a Pilot?</a
        >
      </div>
    </div>
  </div>
</div>
