---
import { Image } from "astro:assets";
import { FaDotCircle } from "react-icons/fa";
import { IoMdAirplane } from "react-icons/io";
import type { ImageMetadata } from "astro";

const { data } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);

const info = {
  title: "About the program",
  sidebarTitle: "What do you need to start?",
  primaryButton: "Sign Up",
  secondaryButton: "Schedule Now",
  sidebarTitle2: "Discovery Flight",
  sidebarText:
    "If you are not sure about starting the program, you can schedule a discovery flight with us.",
};
---

<section class="relative py-20 pt-56">
  <div
    class="absolute top-0 w-full h-[20vh] bg-gradient-to-bl from-0% via-30% from-main-blue via-transparent"
  >
  </div>
  <div class="max-w-7xl mx-auto flex flex-col lg:flex-row gap-20 px-5">
    <div class="flex-[2_2_0] flex flex-col gap-5">
      {
        data.video_url ? (
          <iframe
            class="rounded-xl aspect-video object-cover w-full"
            src="https://tube.rvere.com/embed?v=Gsyvxrt7hi4"
            title="Becoming a Pilot"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
          />
        ) : (
          <Image
            src={images[data.primaryImage]()}
            alt={data.primaryAlt}
            class="rounded-xl aspect-video object-cover w-full"
          />
        )
      }
      <div class="flex flex-col gap-5 mt-10">
        <h2 class="text-5xl">{info.title}</h2>
        {
          data.intro.map((intro) => (
            <p class="text-main-black/80 lg:text-lg" set:html={intro} />
          ))
        }
      </div>

      <h3 class="text-3xl">
        How to get your {data.title.toLowerCase()} certificate?
      </h3>
      <ul class="flex flex-col gap-7">
        {
          data.steps.map((step, index) => (
            <li class="flex gap-5">
              <div class="bg-main-blue w-fit h-fit rounded-full p-2">
                <step.icon className="text-white size-5" />
              </div>
              <div class="flex-flex-col">
                <div>
                  <p class="text-xs/5 font-semibold text-gray-500 uppercase tracking-widest">
                    Step {index + 1}
                  </p>
                  <p
                    class="max-w-lg text-pretty text-2xl font-semibold tracking-tight text-main-black"
                    set:html={step.title}
                  />
                  <p class="text-main-black/70" set:html={step.description} />
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
    <aside class="flex-1 flex flex-col gap-10 max-w-xl mx-auto">
      <div
        class="bg-main-blue rounded-xl p-10 flex flex-col gap-5 shadow-sm text-white"
      >
        <h4 class="text-3xl">{info.sidebarTitle}</h4>
        <hr />
        <ul class="flex flex-col gap-2 my-3">
          {
            data.prerequisites.map((step) => (
              <li class="flex gap-2">
                <FaDotCircle className="text-white size-3 shrink-0 mt-[6px]" />
                <div set:html={step} />
              </li>
            ))
          }
        </ul>
        <a
          href="/contact"
          class="btn-tertiary bg-white hover:bg-white/80 w-full"
          >{info.primaryButton}</a
        >
      </div>

      <div
        class="bg-white rounded-xl p-10 flex flex-col gap-5 border border-main-blue"
      >
        <div class="bg-main-blue w-fit rounded-full p-3">
          <IoMdAirplane className="size-10 text-white" />
        </div>
        <h4 class="text-3xl">{info.sidebarTitle2}</h4>
        <hr />
        <p class="text-main-black/80 lg:text-lg">
          {info.sidebarText}
        </p>
        <a href="/discovery-flight" class="btn-primary w-full"
          >{info.secondaryButton}</a
        >
      </div>
    </aside>
  </div>
</section>
